@import "{{ site.theme }}";
h1 {
  color: black;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
}
a {
    color: #5174ff;
    font-weight: normal !important;
}
a:hover,a:focus {
    color: #00197c;
    font-weight: normal !important;
}
